<h2><%= @chef.name %></h2>
<h3>Only WE can see this.</h3>

<%= link_to "Log-Out", log_out_path, method: :delete  %>
<br/>
<!-- <form action="/chefs/<%= @chef.id %>"method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Delete My Profile</button>
</form> -->

