<% if @chef.errors.any? %>
  <div id="errors">
    <p class="error-count">
      The form contains <%= pluralize(@chef.errors.count, "error") %>.
    </p>
    <ul class="error-list">
      <% @chef.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
