site recipes:

<ul>
  <% @recipes.each do |recipe| %>
    <br/>


    <h3><%= recipe.id %>:  <%= recipe.name %></h3>

    <li>
      <%= recipe.ingredients %>
    </li>
    <li>
      <%= recipe.instructions %>
    </li>
  <% end %>
</ul>
