body {
  background-image: url('/assets/board.jpg');
  background-size: cover;
  background-repeat: none;  

}
.jumbotron {
  opacity: 0.8;  

}
.chefbook {
  list-style: none;
}
.bk_img {
  width:210;
  height: 210;
}

.title {
  font-weight: bold;
  text-shadow: 1px 1px white;
}
.title a:hover {
  opacity:0.3;
   color: blue ;

}
.btn-primary {
  
  opacity: 0.4;
}
h4 {
  font-weight: bold;

}
#piping {
  color: white;
}
.text-muted {
  color: white;
  
}
.header {
  
}
a:link {
 
}
a:visited {


}


/* show chef styles */
#chef-recis {
  text-align: center;
 
}
#recis {
  margin: 0 auto;
  margin-top: 8px;
  background-color: tan;
  border: 1px solid lightyellow;
  opacity: 0.9;
  padding: 12px;
  width: 65%;
  border-radius: 10px;
  color: white;

}

/* chef profile pg */


