<ul class="nav">
<li class="title"><a href="/">Reci-Pipes</a></li>

<% if current_chef %>

    Hi <a href="/profiles"><%= current_chef.name %></a>
<li><%= link_to "Log-Out", log_out_path, method: :delete  %></li>
<% else%>
  <li><%= link_to "Log-In", log_in_path %></li>
  <li><%= link_to "Sign-Up", new_chef_path %></li>
<% end %>
</ul>
